body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-55px;
  width:1402px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:566px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.435294117647059);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7938 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:186px;
  width:375px;
  height:566px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7938 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7938_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7940 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:62px;
  width:375px;
  height:27px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7940 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u7941 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:70px;
  width:360px;
  height:11px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7941 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7942 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(13, 13, 81, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7943 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:94px;
  width:66px;
  height:24px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7943 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u7945 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:104px;
  width:4px;
  height:4px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7945 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u7946 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:102px;
  width:8px;
  height:8px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7946 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u7947 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:104px;
  width:4px;
  height:4px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7947 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u7948 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:98px;
  width:1px;
  height:14px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7948 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u7949 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:99px;
  width:14px;
  height:14px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u7950 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:103px;
  width:6px;
  height:6px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u7951 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:89px;
  width:71px;
  height:37px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u7951 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7952 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:97px;
  width:118px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7952 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:35px;
}
#u7953 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:143px;
  width:299px;
  height:35px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:left;
}
#u7953 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u7954 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:151px;
  width:24px;
  height:23px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u7955 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:160px;
  width:27px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u7956 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:197px;
  width:345px;
  height:122px;
  display:flex;
}
#u7956 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7956_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:39px;
}
#u7957 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:197px;
  width:345px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  vertical-align:super;
  text-align:left;
}
#u7957 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u7957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7958 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:253px;
  width:252px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7958 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7958_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
}
#u7960 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:153px;
  width:22px;
  height:10px;
  display:flex;
}
#u7960 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:9px;
}
#u7961 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:165px;
  width:6px;
  height:9px;
  display:flex;
}
#u7961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7962_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:25px;
  height:5px;
}
#u7962 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:153px;
  width:22px;
  height:2px;
  display:flex;
}
#u7962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:35px;
}
#u7963 {
  border-width:0px;
  position:absolute;
  left:1097px;
  top:143px;
  width:299px;
  height:35px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:left;
}
#u7963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u7964 {
  border-width:0px;
  position:absolute;
  left:1360px;
  top:151px;
  width:24px;
  height:23px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u7965 {
  border-width:0px;
  position:absolute;
  left:1335px;
  top:160px;
  width:27px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7965 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
}
#u7967 {
  border-width:0px;
  position:absolute;
  left:1411px;
  top:153px;
  width:22px;
  height:10px;
  display:flex;
}
#u7967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:9px;
}
#u7968 {
  border-width:0px;
  position:absolute;
  left:1419px;
  top:165px;
  width:6px;
  height:9px;
  display:flex;
}
#u7968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7969_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:25px;
  height:5px;
}
#u7969 {
  border-width:0px;
  position:absolute;
  left:1411px;
  top:153px;
  width:22px;
  height:2px;
  display:flex;
}
#u7969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#606266;
  text-align:left;
}
#u7971 {
  border-width:0px;
  position:absolute;
  left:1097px;
  top:228px;
  width:157px;
  height:38px;
  display:flex;
  color:#606266;
  text-align:left;
}
#u7971 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u7971_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(192, 196, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#606266;
  text-align:left;
}
#u7971.mouseOver {
}
#u7971_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#606266;
  text-align:left;
}
#u7971.selected {
}
#u7971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7972 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:239px;
  width:16px;
  height:16px;
  display:flex;
  font-family:'Microsoft New Tai Lue Bold', 'Microsoft New Tai Lue Regular', 'Microsoft New Tai Lue', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7972 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u7972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#606266;
  text-align:left;
}
#u7974 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:228px;
  width:157px;
  height:38px;
  display:flex;
  color:#606266;
  text-align:left;
}
#u7974 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u7974_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(192, 196, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#606266;
  text-align:left;
}
#u7974.mouseOver {
}
#u7974_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#606266;
  text-align:left;
}
#u7974.selected {
}
#u7974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7975 {
  border-width:0px;
  position:absolute;
  left:1296px;
  top:239px;
  width:16px;
  height:16px;
  display:flex;
  font-family:'Microsoft New Tai Lue Bold', 'Microsoft New Tai Lue Regular', 'Microsoft New Tai Lue', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u7975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u7976 {
  border-width:0px;
  position:absolute;
  left:1097px;
  top:195px;
  width:218px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#666666;
}
#u7976 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7978 {
  border-width:0px;
  position:absolute;
  left:1269px;
  top:294px;
  width:188px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7978_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7978.mouseOver {
  opacity:0.8;
}
#u7978_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7978.mouseDown {
}
#u7978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
#u7979 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:294px;
  width:188px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
#u7979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7979_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
#u7979.mouseDown {
}
#u7979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7980 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:278px;
  width:142px;
  height:19px;
  display:flex;
  font-size:14px;
}
#u7980 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7980_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u7981 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:334px;
  width:345px;
  height:122px;
  display:flex;
}
#u7981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:39px;
}
#u7982 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:334px;
  width:345px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  vertical-align:super;
  text-align:left;
}
#u7982 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u7982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7983 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:390px;
  width:210px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7983 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7983_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7984 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:415px;
  width:142px;
  height:19px;
  display:flex;
  font-size:14px;
}
#u7984 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7984_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u7985 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:472px;
  width:345px;
  height:122px;
  display:flex;
}
#u7985 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:39px;
}
#u7986 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:472px;
  width:345px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  vertical-align:super;
  text-align:left;
}
#u7986 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u7986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7987 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:528px;
  width:210px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7987 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7987_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7988 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:553px;
  width:142px;
  height:19px;
  display:flex;
  font-size:14px;
}
#u7988 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7988_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u7989 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:609px;
  width:345px;
  height:122px;
  display:flex;
}
#u7989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:39px;
}
#u7990 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:609px;
  width:345px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  vertical-align:super;
  text-align:left;
}
#u7990 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u7990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7991 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:665px;
  width:210px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7991 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7991_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7992 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:690px;
  width:142px;
  height:19px;
  display:flex;
  font-size:14px;
}
#u7992 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7992_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u7993 {
  border-width:0px;
  position:absolute;
  left:1097px;
  top:371px;
  width:199px;
  height:35px;
  display:flex;
}
#u7993 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7994 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:62px;
  width:391px;
  height:686px;
}
#u7994_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:686px;
  overflow:auto;
}
#u7995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
  background:inherit;
  background-color:rgba(79, 194, 90, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u7995 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:181px;
  width:188px;
  height:50px;
  display:flex;
}
#u7995 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u7996 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:743px;
  width:345px;
  height:122px;
  display:flex;
}
#u7996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:39px;
}
#u7997 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:743px;
  width:345px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  vertical-align:super;
  text-align:left;
}
#u7997 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u7997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7998 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:799px;
  width:252px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7998 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7998_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7999 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:824px;
  width:142px;
  height:19px;
  display:flex;
  font-size:14px;
}
#u7999 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7999_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u8000 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:880px;
  width:345px;
  height:122px;
  display:flex;
}
#u8000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:39px;
}
#u8001 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:880px;
  width:345px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  vertical-align:super;
  text-align:left;
}
#u8001 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u8001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8002 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:936px;
  width:210px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8002 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8002_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8003 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:961px;
  width:142px;
  height:19px;
  display:flex;
  font-size:14px;
}
#u8003 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8003_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u8004 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:1018px;
  width:345px;
  height:122px;
  display:flex;
}
#u8004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:39px;
}
#u8005 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:1018px;
  width:345px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  vertical-align:super;
  text-align:left;
}
#u8005 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u8005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8006 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:1074px;
  width:210px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8006 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8006_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8007 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:1099px;
  width:142px;
  height:19px;
  display:flex;
  font-size:14px;
}
#u8007 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8007_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u8008 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:1155px;
  width:345px;
  height:122px;
  display:flex;
}
#u8008 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:39px;
}
#u8009 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:1155px;
  width:345px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  vertical-align:super;
  text-align:left;
}
#u8009 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u8009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8010 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:1211px;
  width:210px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8010 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8010_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8011 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:1236px;
  width:142px;
  height:19px;
  display:flex;
  font-size:14px;
}
#u8011 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8011_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
