body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-73px;
  width:891px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u12102 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:52px;
  width:375px;
  height:812px;
  display:flex;
}
#u12102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:811px;
}
#u12103 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:52px;
  width:375px;
  height:811px;
  display:flex;
}
#u12103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12104 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:149px;
  width:75px;
  height:15px;
  display:flex;
}
#u12104 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
