body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-28px;
  width:429px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D900B6;
}
#u10863 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:23px;
  width:411px;
  height:75px;
  display:flex;
  color:#D900B6;
}
#u10863 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:299px;
}
#u10864 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:104px;
  width:399px;
  height:299px;
  display:flex;
}
#u10864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D900B6;
}
#u10865 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:427px;
  width:411px;
  height:15px;
  display:flex;
  color:#D900B6;
}
#u10865 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
