body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-92px;
  width:745px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:48px;
  width:741px;
  height:1290px;
}
#u547_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:741px;
  height:1290px;
  overflow:auto;
}
