body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-117px;
  width:1781px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:86px;
  width:1777px;
  height:1001px;
}
#u548_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1777px;
  height:1001px;
  overflow:auto;
}
